<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>lllllllllllll</h1>
    <table bgcolor="#f7f7f7" border="1">
        <thead>
        <tr>
            <td>用户名</td>
            <td>密码</td>
            <td>年龄</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr>
                <td>{{item.user}}</td>
                <td>{{item.pwd}}</td>
                <td>{{item.age}}</td>
                <td><a href="/deleteInfo?id={{item.id}}">删除</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="button" value="点击添加用户" onclick="click">
    <a href="/add">点击添加用户</a>
    <script>
       function click(){
            window.location.href="/add"
        }
    </script>
</body>
</html>